@font-face {
	font-family: 'Raleway'; 
	src: local('Raleway'),
		url(/fonts/Raleway); 
}

input, select
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}





body{
    background: #FFFFFF;;
}


ul { list-style: none; }


.p2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.p1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

.wrapper{
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
}

.header__wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 42px;
    padding-right: 0px;
}

.header__title{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    border: 2px solid #000000;
    border-radius: 8px;
}

.menu__list{
    display: flex;
    flex-wrap: wrap; 
    margin-left: 250px;

}

.menu__item{
    margin-right: 32px;
}

section{
    display: flex;
    justify-content: center;
}

.intro__wrapper{
    text-align: center;
}

.intro__text_1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #181818;
    max-width: 805px;
    margin-top: 120px;
}

.intro__text_2{
    max-width: 484px;
    margin: 0 auto;
}

.intro__buttons{
    display: flex;
    justify-content: center;
    padding-top: 125px;
}


.intro__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 12px;
    width: 221px;
    height: 56px;
    border: 2px solid #181818;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #181818;
    margin-right: 16px;
    background: #FFFFFF;
}


.intro__button:active{
    background: #181818;
    color: #FFFFFF; 
}

.intro__img{
    position: absolute;
    right: -200px;
    top: -50px;
}

.img_work{
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
    width: 170px;
    height: 170px;
    background: #F1F1F1;
    border-radius: 10000px;
}

.intro__img_2{
    position: absolute;
    right: -150px;
    top: 400px;
    
}

.img_lightning{
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
    width: 100px;
    height: 100px;
    background: #F1F1F1;
    border-radius: 10000px;
}

.intro__img_3{
    position: absolute;
    left: -150px;
    top: 300px;
}

.img_text{
    width: 64px;
    height: 64px;
    background: #F1F1F1;
    border-radius: 10000px;
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
}


.examples_of_work{
    margin-top: 125px;
    
}


.buttons__examples_of_work{
    display: flex;
    justify-content: center;
}

.button__examples_of_work{
    margin-right: 17px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 8px;
    width: fit-content;
    height: 32px;
    border: 1px solid #000000;
    border-radius: 10000px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background: #ffffff;
}

.button__examples_of_work:active{
    color: #FFFFFF;
    background: #181818;
    border-radius: 10000px;
}

.examples_of_work__img{
    margin-top: 40px;
    
}

.e1{
    margin-right: 30px;
}

.about_me{
    margin-top: 120px;
}

.about_me__info{
    display: flex;
    flex-direction: row;
}

.about_me__img{
    width: 400px;
    height: 560px;
    border-radius: 24px;
}

.about_me__text{
    margin-left: 40px;
    
}

.about_me__text__1{
    letter-spacing: -0.02em;
    color: #181818;
    margin-top: 0%;
}

.about_me__text__2{
    max-width: 464px;
    color: #000000;
}

.advantages{
    display: flex;
    padding: 0px;
    margin-top: 64px;
}
.advantage{
    max-width: 60px;
    margin-right: 64px;
}

.advantage_1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
}


.advantage_2{
    text-align: left;
    margin-top: 16px;
    color: #181818;
}

.adv__img{
    position: absolute;
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
    width: 100px;
    height: 100px;
    background: #F1F1F1;
    border-radius: 10000px;
    top:450px;
    left: -75px;

}

.img_winner{
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
    width: 100px;
    height: 100px;
    background: #F1F1F1;
    border-radius: 10000px;
}

.services{
    background-color: #181818;
    margin-top: 120px;

}

.services__text{
    color: #FFFFFF;
    text-align: center;
    margin-top: 120px;
}

.services__list{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
    margin-bottom: 120px;
}

.service__item{
    width: 368px;
    height: 384px;
    background: #FFFFFF;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin-right: 28px;
}


.service__item__text_1{
    font-weight: 500;
    font-size: 12px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    opacity: 0.5;
    padding: 40px 40px 8px 40px;
    margin: 0%;
}

.service__item__text_2{
    margin: 0%;
    padding: 0px 40px 16px 40px;
    font-size: 20px;
    color: #181818;
    font-weight: 600;
}

.service__item__text_3{
    margin: 0%;
    padding: 0px 40px 0px 40px;
    height: 152px;
}

.line_in_services__list{
    width: 80px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid #181818;
    margin-left: 40px;

}

.service__item__text_4{
    margin: 0%;
    padding: 56px 40px 40px 40px;
    font-weight: 600;
    font-size: 24px;
}

.total_cost__wrapper{
    text-align: center;
    
}


.total_cost__text{
    margin-top: 120px;
    margin-bottom: 80px;
}

.total_cost__calculation{
    width: 448px;
    height: 368px;
    left: 496px;
    top: 4544px;
    background: #FFFFFF;;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    
}

.cost_work_img{
    position: absolute;
    top: 35%;
    right: -450px;
}

.time_img{
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
    width: 100px;
    height: 100px;
    background: #F1F1F1;
    border-radius: 10000px;

}

.time_cost_img{
    position: absolute;
    top: 25%;
    left: -500px;
}

select{
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0 auto;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

.select__cost{
    margin-bottom: 24px;
}

.s1{
    margin-top: 40px;
}

.select__input{
    display: flex;
}
.select__input_square{
    margin-left: 24px;
    height: 20px;
}

.select__cost__text_2{
    width: 331px;
    margin-top: 0%;
}

.calculate_cost{
    margin-top: 40px;
    width: 400px;
    height: 56px;
    border: 2px solid #181818;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 40px;
    font-weight: 600;
    background: #ffff;
}

.total_cost__connect{
    width: 400px;
    height: 384px;
    left: 520px;
    top: 4904px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
    margin: 0 auto;
    text-align: left;
    
}

.total_cost__final{
    margin-left: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #181818;
}

.total_cost__cost{
    margin-left: 24px;
    margin-bottom: 24px;

    
}

.total_cost__text_1{
    font-weight: 400;
    margin-bottom: 0px;
}

.total_cost__text_2{
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
}


.total_cost__connect_button{
    width: 352px;
    height: 56px;
    background: #181818;
    border-radius: 8px;
    font-weight: 600;
    color: #FFFFFF;
    margin-left: 24px;
    margin-top: 40px;
}


.questions__wrapper{
    margin-bottom: 120px;
}


.questions{
    background-color: #181818;
    margin-top: 120px;
    

}

.questions__wrapper__text{
    color: #FFFFFF;
    margin-top: 120px;
    margin-bottom: 80px;
    text-align: center;
}

.question__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    padding: 0 40px;
    margin-top: 32px;

}

.question{
    width: 1160px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    margin-bottom: 16px;

}

.question__answer{
    padding: 0 40px;
    display: none;
    overflow: hidden;
}

.question__text:after{
    content: '\02795';
    font-size: 16px;
    color: #000000;
    float: right;
}

.contacts__text{
    margin-top: 120px;
    margin-bottom: 8px;
    text-align: center;
}

.contacts__text_2{
    margin-top: 0%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 80px;
}

.contacts__form{
    width: 448px;
    height: 552px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.form__input{
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;;
    border-radius: 8px;
}

.text__input{
    margin: 0 auto;
    margin-bottom: 24px;
    padding-left: 16px;
}
.s2{
    margin-top: 40px;
}

.comment{
    width: 400px;
    height: 160px;
    padding-top: 12px;
    resize: none;
}

.send_form{
    margin-top: 40px;
    width: 400px;
    height: 56px;
    background: #181818;
    border-radius: 8px;
    color: #FFFFFF;
    margin: 0 auto;
}

.contacts_work_img{
    position: absolute;
    top: 60%;
    right: -500px;
}

.contacts_text_img{
    position: absolute;
    top: 95%;
    left: -300px;
}

.contacts_lightning_img{
    position: absolute;
    top: 15%;
    left: -500px;
}

.img_text2{
    width: 140px;
    height: 140px;
    background: #F1F1F1;
    border-radius: 10000px;
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
}


.social_networks{
    position: absolute;
    top: 35%;
    right: -100px;
}


.network{
    background: #F1F1F1;
    border-radius: 10000px;
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
    width: 24px;
    height: 24px;
    margin-bottom: 16px;
}